################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/E-CommAPI/bin/Debug/net8.0
/E-CommAPI/obj
